<h2 mat-dialog-title>View Patient Details</h2>
<mat-dialog-content>
    <form [formGroup]="patientForm">
        <mat-form-field>
            <input matInput
                formControlName="firstName"
                placeholder="First Name" name="firstName">
        </mat-form-field>
        <mat-form-field>
            <input matInput  
                formControlName="lastName"
                placeholder="Last Name" name="lastName">
        </mat-form-field>
        <mat-form-field>
            <input matInput
                formControlName="visits"
                placeholder="Visits" name="visits">
        </mat-form-field>
        <mat-form-field>
            <input matInput 
                formControlName="age"
                placeholder="Age" name="age">
        </mat-form-field>
        <mat-form-field>
            <input matInput  
                formControlName="pcp"
                placeholder="Pcp" name="pcp">
        </mat-form-field>
        <mat-form-field>
            <input matInput 
                formControlName="insurance"
                placeholder="Insurance" name="insurance">
        </mat-form-field>
      
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Okay</button>
</mat-dialog-actions>
        



