<h2 mat-dialog-title>Edit doctor</h2>
<mat-dialog-content>
    <form [formGroup]="doctorForm" autocomplete="off" 
    novalidate (ngSubmit)="saveDoctorDetail(doctorForm.value)" >
    <mat-form-field>
        <input matInput
            formControlName="firstName"
            placeholder="First Name" name="firstName">
    </mat-form-field>
    <mat-form-field>
        <input matInput 
            formControlName="lastName"
            placeholder="Last Name" name="lastName">
    </mat-form-field>   
    <mat-form-field>
        <input matInput 
        formControlName="rating"    
        placeholder="Rating" name="rating">
    </mat-form-field>
    <mat-form-field>
        <input matInput
            formControlName="age"
            placeholder="Age" name="age">
    </mat-form-field>
    <mat-form-field>
        <input matInput  
            formControlName="experience"
            placeholder="Experience" name="experience">
    </mat-form-field>
    <mat-form-field>
        <input matInput 
            formControlName="insurance"
            placeholder="Insurance" name="insurance">
    </mat-form-field>
    <mat-form-field>
            <mat-select  formControlName="status" name="status">
                <mat-option value="Available">Available</mat-option>
                <mat-option value="Not Available">Not Available</mat-option>
            </mat-select>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary">Save</button>
</form>

</mat-dialog-content>


